body {
    color: #3C3C3C;
    font-family: Helvetica;
    text-align: block;
    font-size: 21px;
}

a {
    color: #325FC9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    list-style-type:none;
    padding: 0;
    padding-top: 4px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

main {
    max-width: 600px;
    margin: 50px auto;
    padding: 0 30px 50px 0;
    position: relative;
}