body {
    font-family: helvetica;
    font-size: 24px;
    color: #3C3C3C;
    margin-left: 38%;

    
}

a {
    color: #325FC9;
    text-decoration: none;
}

.arrow {
    transform: rotate(90deg);
    width: 40px;
    height: 40px;
    float:left;
    position: relative;
    top: 5px;
}

a:hover {
    text-decoration: underline; 
}   

h1 {
    margin-top: 4%;
    margin-left: 8%;
    margin-bottom: 0px;     
}

div {
    margin: 8%;
    margin-top: 40px;
    display: flex;
   flex-direction: column;
    align-content: center;
   align-items: flex-start;
   justify-content: space-around;
}

p {
    margin-top: 0;
    padding-top: 0;
}
