html {
    color: black;
    font-family: sans-serif;
}

body {
    max-width: 920px;
    margin: 0 auto;
    padding: 1rem;
}

.inline-svg {
    display: inline-block;
    height: 1.15rem;
    width: 1.15rem;
    top: 0.15rem;
    position: relative;
}

.index {
    aside {
        img {
            border-radius: 50%;
        }

        ul {
            svg {
                width: 16px;
                margin-left: -3px;
                fill: #57606a;
            }

            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            padding: 0;
            list-style-type: none;
        }

        float: left;
    }

    @media (max-width: 640px) {
        aside {
            display: none;
        }
    }
}
