<!doctype html>
<html lang="en">
{{ partial "head.html" . }}

<body>
  <main class="index">
    <section class="article-list">
      <h1>{{ .Title }}</h1>
      {{ range (.Site.GetPage "section" "blog").Pages }}
      <div class="article">
        <span>{{ .Date.Format "January 2, 2006" }}</span>
        <div>
          <a class="preview-title" href="{{ .Permalink }}">{{ .Title }}</a>
        </div>
      </div>
      {{ end }}
    </section>
    <aside>
      <div class="person">
        <div class="avatar">
          <img src="https://avatars.githubusercontent.com/u/59575534?v=4" alt="Grayscaled picture of myself."
            width="150" height="150" />
        </div>
        <div class="name">
          <h1>
            Jakob Waibel
          </h1>
          <p>
            JakWai01
          </p>
        </div>
      </div>
      <small>
        Linux, Go, Python Developer - Computer Science and Media - he/him
      </small>
      <ul class="external-links">
        <li>{{ partial "fontawesome.html" "github" }}<a href="https://github.com/JakWai01" target="_blank">JakWai01</a>
        </li>
        <li>{{ partial "fontawesome.html" "twitter" }}<a href="https://twitter.com/jakobwaibel"
            target="_blank">@jakobwaibel</a></li>
        <li>{{ partial "fontawesome.html" "paper-plane-solid" }}<a
            href="mailto:mail@jakobwaibel.com">mail@jakobwaibel.com</a></li>
        <li>{{ partial "fontawesome.html" "paste-solid" }}<a
            href="https://docs.google.com/document/d/1WaF25lpH_AQnjsEThe8Jl9jOLBKNrWZXohjU2Hqr90A/edit?usp=sharing"
            target="_blank">Curriculum Vitae</a></li>
      </ul>
    </aside>
  </main>
  {{ partial "foot.html" . }}
</body>

</html>